{% extends "base_generic.html" %}

{% block title %}<title>Docker Private Directory</title>{% endblock %}


{% block content %}
{% for repo in repositories %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          {{ repo }}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}